<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Book-DataSet" data-toc-modified-id="Import-Book-DataSet-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Book DataSet</a></span></li><li><span><a href="#Import-User's-Data-Dataset" data-toc-modified-id="Import-User's-Data-Dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import User's Data Dataset</a></span></li><li><span><a href="#Import-Rating-DataSet" data-toc-modified-id="Import-Rating-DataSet-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Import Rating DataSet</a></span></li><li><span><a href="#Limitting-The-DataSet" data-toc-modified-id="Limitting-The-DataSet-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Limitting The DataSet</a></span></li><li><span><a href="#Collaborative-Filtering" data-toc-modified-id="Collaborative-Filtering-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Collaborative Filtering</a></span></li><li><span><a href="#One-Method" data-toc-modified-id="One-Method-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>One Method</a></span></li><li><span><a href="#Other-Method" data-toc-modified-id="Other-Method-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Other Method</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

# Import Book DataSet

In [3]:
df1 = pd.read_csv('BX-Books.csv',sep=';',error_bad_lines=False,encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

In [4]:
df1 = df1.rename(columns={'Book-Title':'title'})

In [5]:
df1.head()

,ISBN,title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
df1.columns

Index(['ISBN', 'title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [7]:
book = df1.drop(['Image-URL-S','Image-URL-M','Image-URL-L'],axis='columns')

In [8]:
book.head()

,ISBN,title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [9]:
book = book.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'})
book.head()

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [10]:
book.shape

(271360, 5)

In [11]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ISBN       271360 non-null  object
 1   title      271360 non-null  object
 2   author     271359 non-null  object
 3   year       271360 non-null  object
 4   publisher  271358 non-null  object
dtypes: object(5)
memory usage: 10.4+ MB

In [12]:
book.nunique()

ISBN         271360
title        242135
author       102023
year            202
publisher     16807
dtype: int64

In [13]:
book.isna().sum()

ISBN         0
title        0
author       1
year         0
publisher    2
dtype: int64

# Import User's Data Dataset

In [14]:
df2 = pd.read_csv('BX-Users.csv',sep=';',error_bad_lines=False,encoding='latin-1')

In [15]:
df2.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [16]:
user = df2.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'})
user.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [17]:
user.shape

(278858, 3)

In [18]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   278858 non-null  int64
 1   location  278858 non-null  object
 2   age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [19]:
user.nunique()

user_id     278858
location     57339
age            165
dtype: int64

In [20]:
user.isna().sum()

user_id          0
location         0
age         110762
dtype: int64

# Import Rating DataSet

In [21]:
df3 = pd.read_csv('BX-Book-Ratings.csv',sep=';',error_bad_lines=False,encoding='latin-1')

In [22]:
df3.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [23]:
rating = df3.rename(columns={'User-ID':'user_id','Book-Rating':'rating'})
rating.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [24]:
rating.shape

(1149780, 3)

In [25]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1149780 non-null  int64
 1   ISBN     1149780 non-null  object
 2   rating   1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [26]:
rating.nunique()

user_id    105283
ISBN       340556
rating         11
dtype: int64

In [27]:
rating.isna().sum()

user_id    0
ISBN       0
rating     0
dtype: int64

# Limitting The DataSet

In [28]:
rating_with_book = rating.merge(book,on='ISBN')

In [29]:
rating_with_book.head()

,user_id,ISBN,rating,title,author,year,publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books

In [30]:
# Shape is reduces because of insuffient book
rating_with_book.shape

(1031136, 7)

In [31]:
number_rating = rating_with_book.groupby('title')['rating'].count().reset_index()
number_rating.rename(columns={'rating':'number_of_rating'}, inplace=True)

In [32]:
number_rating.head()

                                               title  number_of_rating
0   A Light in the Storm: The Civil War Diary of ...                 4
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Ask Lily (Young Women of Faith: Lily Series, ...                 1
4   Beyond IBM: Leadership Marketing and Finance ...                 1

In [33]:
avg_rating = rating_with_book.groupby('title')['rating'].mean().reset_index()
avg_rating.rename(columns={'rating':'avg_rating'}, inplace=True)

In [34]:
popular_df = avg_rating.merge(number_rating,on='title')

In [35]:
popular_df.head()

,title,avg_rating,number_of_rating
0,A Light in the Storm: The Civil War Diary of ...,2.25,4
1,Always Have Popsicles,0.00,1
2,Apple Magic (The Collector's series),0.00,1
3,"Ask Lily (Young Women of Faith: Lily Series, ...",8.00,1
4,Beyond IBM: Leadership Marketing and Finance ...,0.00,1

In [36]:
popular_df = popular_df[popular_df['number_of_rating']>=250].sort_values('avg_rating',ascending=False).head(200)

In [37]:
popular_df.head()

,title,avg_rating,number_of_rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428
80422,Harry Potter and the Goblet of Fire (Book 4),5.824289,387
80441,Harry Potter and the Sorcerer's Stone (Book 1),5.737410,278
80426,Harry Potter and the Order of the Phoenix (Boo...,5.501441,347
80414,Harry Potter and the Chamber of Secrets (Book 2),5.183453,556

In [38]:
popular_df = popular_df.merge(df1,on='title').drop_duplicates('title')[['title','Book-Author','Image-URL-M','number_of_rating','avg_rating']]

In [39]:
popular_df.head()

,title,Book-Author,Image-URL-M,number_of_rating,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453

# Collaborative Filtering

In [40]:
x1=rating_with_book.groupby('user_id').count()['rating']>100

In [41]:
y=x1[x1].index

In [42]:
filtered_rating = rating_with_book[rating_with_book['user_id'].isin(y)]

In [43]:
filtered_rating.head()

,user_id,ISBN,rating,title,author,year,publisher
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
14,77480,034545104X,8,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books

In [44]:
x2 = filtered_rating.groupby('title').count()['rating']>=50
famous_books = x2[x2].index

In [45]:
final_ratings = filtered_rating[filtered_rating['title'].isin(famous_books)]

In [46]:
book_pivot = final_ratings.pivot_table(index='title',columns='user_id',values='rating')

In [47]:
book_pivot.shape

(1070, 1634)

In [48]:
book_pivot.head()

user_id,254,507,882,1424,1435,1733,1903,2033,2110,2276,...,275020,275970,276463,276680,277427,277478,277639,278137,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204 Rosewood Lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
24 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN

In [49]:
book_pivot.fillna(0,inplace=True)

In [50]:
book_pivot.head()

user_id,254,507,882,1424,1435,1733,1903,2033,2110,2276,...,275020,275970,276463,276680,277427,277478,277639,278137,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204 Rosewood Lane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0

# One Method

In [51]:
# from scipy.sparse import csr_matrix
# book_sparse = csr_matrix(book_pivot)
# type(book_sparse)
# book_sparse.data

In [52]:
# from sklearn.neighbors import NearestNeighbors
# model = NearestNeighbors(algorithm='brute')
# model.fit(book_sparse)

In [53]:
# def recommend_book(book_name):
#     book_id = np.where(book_pivot.index == book_name)[0][0]
#     distances, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)
#     print("The Suggestion for Book ",book_name,"are :")
#     for i in range(len(suggestion)):
#         print(book_pivot.index[suggestion[i]])

In [54]:
# recommend_book('Animal Farm')

# Other Method

In [55]:
from sklearn.metrics.pairwise import cosine_similarity
simalarity_score = cosine_similarity(book_pivot)

In [56]:
simalarity_score.shape

(1070, 1070)

In [57]:
def recommending_book(book_name):
    index = np.where(book_pivot.index == book_name)[0][0]
    similar_item = sorted(list(enumerate(simalarity_score[index])),key=lambda x:x[1],reverse=True)[1:6]
    
    data=[]
    for i in similar_item:
        item=[]
        temp_df = df1[df1['title']==book_pivot.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('title')['title'].values))
        item.extend(list(temp_df.drop_duplicates('title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('title')['Image-URL-M'].values))
        
        data.append(item)
        
    return data

In [58]:
recommending_book('The Catcher in the Rye')

[['High Fidelity',
  'Nick Hornby',
  'http://images.amazon.com/images/P/1573225517.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ["The Hitchhiker's Guide to the Galaxy",
  'Douglas Adams',
  'http://images.amazon.com/images/P/0671461494.01.MZZZZZZZ.jpg'],
 ['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ['To Kill a Mockingbird',
  'Harper Lee',
  'http://images.amazon.com/images/P/0446310786.01.MZZZZZZZ.jpg']]

In [59]:
import pickle

In [60]:
# pickle.dump(final_rating,open('popular.pkl','wb'))
# pickle.dump(book_pivot,open('pivot.pkl','wb'))
# pickle.dump(df1,open('book.pkl','wb'))
# pickle.dump(simalarity_score,open('similarity.pkl','wb'))

In [62]:
pickle.dump(popular_df,open('popular.pkl','wb'))
pickle.dump(book_pivot,open('pt.pkl','wb'))
pickle.dump(df1,open('books.pkl','wb'))
pickle.dump(simalarity_score,open('similarity_scores.pkl','wb'))